input, textarea {
  width: 50%;
  padding: 10px;
  margin: 15px 0 15px 0;
  border: 1px solid #b40404;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #564caf;
  color: white;
  padding: 10px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #45a049;
}
.bon{
    background-image:url('istockphoto-1466057420-612x612.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left:350px;
}
.col{
    color:yellow;
}
