
    .container {
      background-image:url('106565-blue-and-green-abstract.jpg');
        background-size: cover;
        background-repeat: no-repeat;
         font-family: Arial, sans-serif;
          margin: 2px;
         line-height:1.45;
         padding: 32px;
    }
   header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.brand{
    display: flex;
    gap: 18px;
    align-items: center;
    padding: 20px;
    margin: 20px;
}
.name{
   color:yellow;
   position: relative;
   top: 20px;
}
.subtitle{
   color:red;
   position: relative;
   top: 20px;
}
    
nav{
    display: flex;
    gap: 15px;
    align-items: center;
}
nav a{
    color:gold;
    text-decoration: none;
    font-weight: 600;
}
nav a:hover{
    color: #080808;
}
.cta{
    background: linear-gradient(40deg,gold);
    padding: 10px 5px;
    border-radius: 12px;
    color:#080808;
    text-decoration: none;
    font-weight: 700;
    text-align: center; 
     }
     .cta:hover{
      background:#64ec64;
     }
   .header__container {
  padding-block: 5rem 0;
  display: grid;
  gap: 2rem;
  
}
.logo{
   margin-left:10px;
    width: 52px;
    height: 52px;
    border-radius: 12px;
    background: linear-gradient(90deg,gold);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    color: #0f0f0e;
    font-size: 15px;
    box-shadow: 0 6px 15px #945cc9;
}
.header__content h2 {
  font-size: 1.5rem;
  font-weight: 500;
  color: red;
  text-align: center;
}

.header__content h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 800;
  color: goldenrod;
  line-height: 5rem;
  text-align: center;
}

.header__content h3 {
  margin-bottom: 1rem;
  font-display: 1.25rem;
  font-weight: 600;
  color: #dd5b0f;
  text-align: center;
}
.header__content p {
  margin-bottom: 2rem;
  color:black;
  text-align: center;
  line-height: 1.75rem;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}