.div{
    border:4px solid black;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 500px;
    margin-right: 100px;
    padding: 5%;
    background:url('360_F_837175801_MsV0PbFW5KdXTTIudyShkJkfLr5uhtAk.jpg');
    background-repeat: no-repeat;
    background-size:cover ;
    border-radius:8%;
    width:200px;
    height: 200px;
}
.bob{
    background-image: url('360_F_837175801_MsV0PbFW5KdXTTIudyShkJkfLr5uhtAk.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
button {
    background-color: #0f1cd193;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
button:hover{
    background-color:green;
}
.lam{
    color:yellow;
}
h2{
    text-align: center;
    color:gold;
}
