@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Poppins", sans-serif;
}
#navbar{
    position:sticky;
    top:0;
    left:0;
    z-index: 100;
    padding: .5rem 5rem;
    box-shadow: 5px 5px 20px #00000080;
    background: black;
}
.navbar.navbar-brand {
    font-size: 25px;
    font-weight: 800;
    color: #29f700 !important;
}
#navbarSupportedContent a{
    color:#fff;
    border-bottom: 2px solid transparent;
    
}
#navbarSupportedContent a:hover{
    border-bottom: 2px solid #29f700; 

}
#navbarSupportedContent button{
    background: #29f700;
    width:5rem;
    border-radius: 15px;
}
section{
    width: 100%;
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
#home{
    background-image:  linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.4)),url('istockphoto-1496340343-612x612.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
}
#home h1{
    font-size: 100px;
    color:white;
    letter-spacing: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0px 1px 0px #ccc,
                 0px 2px 0px #ccc, 
                 0px 3px 0px #ccc,
                 0px 4px 0px #ccc,
                 0px 5px 0px #ccc,
                 0px 6px 0px #ccc;

}
#home p{
    font-size: 18px;
    color:#fff;
}
#home .input-group{
    height: 45px;
    width:40%
}
.signin{
    background: #29f700 !important;
    color:white;
    box-shadow: 2px 4px 5px rgba(0,0,0,.3);
}
#about{
    background: linear-gradient( to right , #f38078 ,#e4af6b 100%);
}
#about h1{
    font-weight: 800;
    font-size: 50px;
    color:white;
}
#about p{
    color:white;
}
#product{
    background: #e5e5e5;
}
#product h1{
    font-size:50px ;
    letter-spacing: 2px;
    font-weight: 700;
}
#product img{
    padding: 5px 5px;
    height: 200px;
    width: 200px;
    border-radius: 15px;
}
.card{
    height: 300px;
    width: 250px;
    background: #e5e5e5 !important;
    border: none !important;
    box-shadow: 15px 20px 20px rgba(0,0,0,.3),
                 inset 4px 4px 10px white ;
    border-radius: 20px !important;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin:20px 60px;
    transition: .2s;
}
.card:hover{
    box-shadow: inset 5px 5px 10px rgba(0,0,0,.3),
                 inset -4px -4px 10px white ;
    transition: .2s;
}
#contact img{
    height: 100%;
}
.box{
    width: 80% !important;
    margin: 10px;
}
form{
    display: flex;
    flex-direction: column;
}
#contact input{
    margin:10px 0px;
}
#contact textarea{
    margin:10px 0px;
}
footer.bg-success {
  background-color: #4a7c59 !important;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
